<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <span>ZooxSmart</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="table_container">
  <div class="table_box">
     <h1>Cidade</h1>
     <table-filter infoBy="city"></table-filter>
  </div>
  <div class="table_box">
     <h1>Estado</h1>

     <table-filter infoBy="state"></table-filter>
  </div>
</div>
